/* portada y logo de la página*/
.contenedorlogo {
  position:relative;
  padding: 0 px;
  height:110px;
  background-color: #9dcd5a;
  width: 100%;
}
  
.logo {
  position:static;
  margin-top: 20px;
  margin-bottom: 1px;
  float:left;
}
/* iconos de apariencia buscador y menu*/  
.botones {
  position:static;
  margin-top: 60px;
  float:right;
  margin-right: 40px;
}
  
.buscador {
  max-height: 30px;
  max-width: 30px;
}
  
.menu {
  max-height: 30px;
  max-width: 30px;
}
 /* estilos del banner y color del titulo de banner*/ 
.banner {
  background-image: url("https://serieadictos.files.wordpress.com/2009/04/blo-banner-series.jpg");
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height:100%;
}
  
.banner span {
  background:#222420a9;  
}
  
h1 {
  font-size: 30px;
  color: #f5f5ef;
  margin: 170 80px 0 80px;
  text-align:center;
  -webkit-text-fill-color: #d0d4d4;
  -webkit-text-stroke: 1px rgb(236, 236, 229);
}
/* estilo de cuerpo de la pagina*/  
body {
  margin: 0px;
  background: #f9faf9;
  font-family: verdana;
}
/*estilo para el titulo de pasos de los formularios*/
h2 {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 418px;
  height: 60px;
  left: -45px;
  font-size: 30px;
  line-height: 60px;
  color:#3E6ECD;
}
/* estilo para el subrayado de los pasos*/  
hr {
  position:center;
  background-color: #3E6ECD(119, 26, 38);
  margin-bottom: 20px;
  width:600px;
  height:2px;
}
/* estilos para el primer formulario de ingreso de email*/ 
#ingresaemail {
  margin: 0 auto;
  font-size: 27px;
  padding: 15px;
  position:center;
  text-align:center;
  top:20%;
  left: 10%;
  line-height: 40px;
  color: #000000;
  background: rgba(229, 229, 229, 0.86);
  max-width:500px;
  border-radius: 20px;
  border: 1px solid #a1da52;
}
  
#email {
  position: flex;
  max-width:300px;
  margin-top:20px;
  width: 90%;
  height: 66px;
  left: 381px;
  top: 660px;
  background: #FFFFFF;
  background-size: 400px 400px;
  border: 1px solid #D8CACA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;

  font-size: 20px;
  line-height: 29px;
  text-align:center;
  color: rgb(3, 3, 3);
  outline: none;
}
/*estilo para el primer boton de la pagina*/
#boton1 {
  position: flex;
  font-size: 18px;
  padding: 8px;
  margin-top: 20px;
  color: white;
  background: #3E6ECD;
  border: 1px solid #3E6ECD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 63px;
  outline: none;
}
/* estilo para subtitulo de segundo formulario de pago*/ 
#validatarjetapara {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-style: bold;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}
/* estilos de segundo formulario de pago*/
.formulario {
  margin: 0 auto;
  font-size: 20px;
  padding: 15px;
  position: center;
  text-align: center;
  top: 20%;
  left: 10%;
  line-height: 40px;
  color: #000000;
  background: rgba(229, 229, 229, 0.86);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  min-width: 500px;
  border-radius: 20px; 
  border: 1px solid #a1da52;
}
/* estilos del label del formulario*/ 
.form--label1, .form--label2, .form--label3, .form--label4{
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 34px;
  color: #000000;
}
.form--label1 {
  width: 244px;
  height: 30px;
  left: -2px;
}

.form--label2 {
  width: 244px;
  height: 34px;
  left: -2px;
}
  
.form--label3 {
  width: 240px;
  height: 34px;
  left: -2px; 
}
  
.form--label4 {
  width: 244px;
  height: 34px;
  left: -18px;
}
/* estilos del input del formulario*/ 
.form-input1, .form-input2, .form-input4{
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D8CACA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  padding-left: 25px;
  font-size: 15px;
  line-height: 29px;
  color: rgb(3, 3, 3);
  outline: none; 
}
.form-input1 {
  width: 200px;
  height: 20px;
  left: -1px;
  margin-top:10px; 
}
  
.form-input2 {
  width: 200px;
  height: 20px;
  left: 8px;
  margin: 0 auto;
  margin-top:20px;
}

.form-input4 {
  width: 200px;
  height: 20px;
  left: 110px;
  margin: 0 auto;
}
/* estilos para el select de mes y año*/
.form-mes, .form-year{
  position: relative;
  text-align-last: center;
  background: #FFFFFF;
  border: 1px solid #D8CACA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  font-size: 15px;
  line-height: 20px;
  color: rgb(3, 3, 3);
  outline: none; 
}
.form-mes{
  width: 120px;
  height: 24px;
  left: 40px;
}

.form-year{
  width: 90px;
  height: 24px;
  left: 49px;
}
/* estilo de iconos de tarjetas*/
.iconvisa, .iconmaster{
  position: relative;
  left: 80%;
  display: none;
}
/* estilo de para el segundo boton*/
#boton2 {
  margin: -50px -50px; 
  width: 100px;
  position: relative;
  top: 50%; 
  left: 50%;
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
  color: white;
  background: #3E6ECD;
  border: 1px solid #3E6ECD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 63px;
  outline: none; 
}
/* estilos para las notas de pantallas*/
#nota0, #nota1, #nota2, #nota3, .tarjvalid{
  text-align: center;
  font-style: bold;
  font-weight: bold;
 
}
#nota0{
  font-size: 15px;
  color: #ee314a; 
}
#nota1 {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ee314a;
}

#nota2, .tarjvalid {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: #479b4e;
}

.tarjvalid{
  margin-top: 20px;
}

#nota3 {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fc0000;   
}
/* estilos para el pie de pagina*/
footer{
  position: absolute;
  margin-top: 120px;
  text-align:center;
  margin-bottom: 1px;
  width:100%;
  background-color: #000000;
  color: #ffffff
}
  
.cerdito{
  font-size: 40px;
}
/* estilos para ocultar pantallas*/  
#segundapag, .ultimapantalla {
  display: none;    
}
/* estilo para subtitulo de ultima pantalla*/
h3{
  font-size: 30px;
  color: #3E6ECD;
  margin: 170 80px 0 80px;
  text-align:center;  
}
/* estilo para el nombre de usuario*/
.name1{   
  text-align: center;
  font-style: bold;
  font-weight: bold;
  font-size: 40px;
  color: rgb(119, 127, 131);
}
/* estilos para mensaje de suscripcion e imagen final*/
.mensajefinal{
  text-align: center;
  font-style: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.suscripcion{
  float: center;
  text-align:center;
}
/* estilo para tercer boton*/
#boton3{
  position: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  color: white;
  background: #3E6ECD;
  border: 1px solid #3E6ECD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 63px;
  outline: none;
}
/* estilo para audio final*/
#victory{
  display: none;
}